.hidden-video-card{
	display: none;
}
.video-card{
	display: flex;
    margin-bottom: 20px;
}
.emailers-form input{
    width: 100%;
    display: block;
    height: 40px;
    border: none;
    box-shadow: 1px 1px 5px -1px #6c757d;
    margin-bottom: 14px;
	padding-left: 20px;
}
.emailers-form input:focus-visible{
	outline: none;
}
.emailers-form textarea:focus-visible{
	outline: none;

}
.emailers-form button{
	float: right;
	border: none;
}
.emailers-form textarea{
    width: 100%;
	padding-top: 15px;
	padding-left: 20px;
	min-height: 200px;
    display: block;
    border: none;
    box-shadow: 1px 1px 5px -1px #6c757d;
    margin-bottom: 14px;
}
.card-box .header-title{
    height: 37px;
    overflow: hidden;
}
.language-text{
    width: 92px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50px;
    font-family: "Montserrat-SemiBold";
    font-size: 18px;
    color: #575757;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-top: 10px;
}
.language-text  .active{
    color: #e65858 !important;
}
.language-text  a{
    font-size: 15px;
    font-weight: 500;
}
.language-text:hover{
    background: #409FC9;
    color: #F7F7F7;
}
.hidden{
    display: none;
}